@tailwind base;
@tailwind components;
@tailwind utilities;
.h-max {
  height: max-content;
}
.flexwrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.input {
  outline: none;
  background-color: none;
  background: inherit;
  border: 2px solid brown;
  width: 40%;
}
